{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "node_modules/laravel-mix/setup/webpack.config.js"
      }
    }
  },
  "rules": {
    "indent": ["off"],
    "max-len": ["error", {
      "code": 80,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "no-param-reassign": ["off"],
    "vue/html-quotes": ["error", "double"],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ],
    "vue/no-async-in-computed-properties": ["error"],
    "vue/no-dupe-keys": ["error"],
    "vue/no-duplicate-attributes": ["error"],
    "vue/no-reserved-keys": ["error"],
    "vue/no-shared-component-data": ["error"],
    "vue/no-side-effects-in-computed-properties": ["error"],
    "vue/no-template-key": ["error"],
    "vue/order-in-components": ["error"],
    "vue/require-default-prop": ["error"],
    "vue/require-prop-types": ["error"],
    "vue/require-valid-default-prop": ["error"],
    "vue/return-in-computed-property": ["error"],
    "vue/this-in-template": ["error"]
  }
}
